@media only screen and (max-width:800px){
    body {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 400px auto;
        grid-template-areas:    "header"
                                "main";
    }
    aside {
        transform: translate(-9999px);
    }
    article {
        max-width: 100%;
    }
    input {
        width:calc(100% - 4em);
    }
    .input {
        max-width: 100%;
        svg {
            right:2em;
        }
    }
}