* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    font-weight: bold;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p, h2, a, .faq{
    color:#3C4D57;
    font-family: "sofia-pro", sans-serif;
}